.allItems {
    display: flex;
    flex-direction: column;
    margin: 7px;
    padding: 5px;
}

/* css element for title */
header {
    background-color: rgba(242, 247, 245, 0.674);
    border-style: solid;
    border-color: rgb(76, 255, 56);
    margin-bottom: 15px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin: 7px 0px 7px 0px;
    height: fit-content;
}

/* for everything in the middle (nav and main) */
nav,
article {
    padding: 7px;
}

/* nav bar on the left */
nav {
    display: flex;
    font: 20px arial;
    width: 15%;
    margin-right: 5px;
    border-style: solid;
    border-color: rgb(175, 111, 111);
    background-color: rgb(241, 241, 241);
    height: fit-content;
}

/* entire nav area */
ul.navbar {
    list-style-type: none;
    margin: 2px 0px 2px 0px;
    padding: 2px;
    width: 200px;
    background-color: #f1f1f1;
}
/* each individual button inside of the nav */
li a {
    display: flex;
    background-color: #767070ec;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    height: fit-content;
    width: fit-content;

    margin: 5px 0px 5px 0px;
}
/* css animations for nav bar */
li a:hover,
li a:focus {
    background-color: #fff;
    color: #333;
}

/* main content */
article {

    border-style: solid;
    border-color: rgb(227, 40, 252);
    margin-left: 7px;
}

/* extra info goes here */
footer {
    border-style: solid;
    border-color: rgb(206, 206, 44);
    padding: 5px;
    background-color: rgba(242, 247, 245, 0.674);
}

/* general formatting for the overall style of the website */
table {
    font: 18px arial;
    border: 3px solid black;
    text-align: center;
    width: 99%;
    margin: 4px;
}

tr,
th,
td {
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
    margin: 7px;
}

p,
li {
    font: 17px arial;
    margin: 8px 8px 6px 8px;
}

/* used in the header */
h1.title {
    font-family: Georgia;
    font-size: 2.5rem;
    font-weight: normal;
    text-shadow: 0 0 0.4em rgb(255, 255, 255);
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0.5em;
}

/* larger subtitles, used less frequently and stand out over h3 */
h2.subtitle {
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 0.3em black;
    text-align: center;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    margin: 5px 5px 15px 5px;
    background-color: rgba(42, 140, 137, 0.7);
}

/* general subtitle */
h3.subtitle {
    font-family: Arial;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 0.2em black;
    text-align: center;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 7px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* back to top button */
#backToTop {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    font-size: 15px arial;
    background-color: rgb(172, 147, 147);
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}
/* animations for the buttom */
#backToTop:hover {
    background-color: #000000;
}